@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-marquee {
  animation: marquee 100s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}